<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>m4PI</title>
  <meta name="description" content="Optimization Research Lab">
  <meta name="author" content="OPR-Labs">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Javascript
  ------------------------------------------------- -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../static/js/site.js"></script>
  <script>
    $( document ).ready(function() {
        $('.hide').hide();
    });

  </script>
  <script>
 function scroll(where){
	where="#"+where;
    $('html,body').animate({
        scrollTop: $(where).offset().top-65},
        'slow');
	}

  function pop_slide(where){
	where="#"+where;
        $(where).slideToggle("slow");
  }

  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<div class="navbar-spacer"></div>

     <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#moreNavPopover">m4PI</a>
            <div id="moreNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" onclick="scroll('intro')">What We Do</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" onclick="scroll('creators')">Who We Are</a>
                </li>
              </ul>
            </div>
          </li>

	  <li class="navbar-item"><a class="navbar-link" onclick="scroll('contact')" >Contact Us</a></li>
        </ul>
      </div>
    </nav> 

<div class="heading">
  <div class="container">
    <div class="row" style="opacity:1;">
      <div class="one-half column">
        <h1>m4PI: </h1>
	<p><b>m</b>usic <b>4</b> <b>P</b>hysically <b>I</b>mpaired</p>
      </div>
      <div class="one-half column">
        <img src="../static/images/music2.png">
      </div>
    </div>
  </div>
</div>


<div class="parallax" id="para1"></div>

<div class="info-block" >
  <div class="container" id="intro">
      	<div class="row" >
  	<h1><b>m</b>usic <b>4</b> <b>P</b>hysically <b>I</b>mpaired</h1>
	</div>
  <div class="row">
      <div class="one-third column" >
        <img src="../static/images/chevron.png">
      </div>
      <div class="one-half column">
        <h3>Research - <i class="material-icons">find_in_page</i></h3>
      </div>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="info-block" >
  <div class="container" >
    <div class="row" style="margin-top: 10%">
     <h1 id="creators">Creators</h1>
    </div>
    <div class="row" >
      <div class="one-third column">
        <img src="../static/images/contact.png">
      </div>
      <div class="one-half column">
	<h2>Nick Dimitrakopoulos</h2>
        <p>Signal Processing Lead</p>
      </div>
    </div>
    <div class="row" >
      <div class="one-third column">
        <img src="../static/images/contact.png">
      </div>
      <div class="one-half column">
	<h2>Rayan Islam</h2>
        <p>GUI Developer, Web Developer</p>
      </div>
    </div>
    <div class="row" >
      <div class="one-third column">
        <img src="../static/images/contact.png">
      </div>
      <div class="one-half column">
	<h2>Nicholas V. Giamblanco</h2>
        <p>Software Developer and Researcher</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax"></div>

<div class="info-block" >
 <div class="container">
 <div class="row">
  <div class="footer" id="contact">
    <p ><i class="material-icons">code</i> Site Developed By: m4PI  <i class="material-icons">code</i></p> 
    <p><a href="mailto:nicholas.giamblanco@ryerson.ca?Subject=OPR-AL%20Site" target="_top">nicholas.giamblanco@ryerson.ca</a></p>
   </div>
  </div>
  </div>
</div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
